body {
    background-color: #dbf684;
  }
  
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(241, 55, 8);
    border-width: 5px;
    width: 5%;
    height: 10px;
  }
  
  img {
    height: 270px;
  }
  